body {
  background-color: red;
  background-image: url(2f4d64b328cb24581bfd8c88870e5575.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF; }

